ATTENDEZ_API_URL=
ATTENDEZ_API_KEY=
ATTENDEZ_TEMPLATE_NAME=BUSINESS_JATRA_WELCOME
ATTENDEZ_TEMPLATE_BUSINESS_JATRA_STUDENT=
ATTENDEZ_TEMPLATE_BUSINESS_JATRA_PARENT=
ATTENDEZ_TEMPLATE_BUSINESS_JATRA_BUSINESS=
ATTENDEZ_PHONE_NUMBER_ID=
ATTENDEZ_WEBHOOK_SECRET=
